################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/packages
/Source/Robot/bin/Debug
/Source/Robot/obj/Debug
/Source/Robot.Test/bin/Debug
/Source/Robot.Test/obj/Debug
/Source/Robot/Robot.csproj.user
/Source/.vs/BitcoinPriceNotification/v14/.suo
*.coverage
